---
layout: null
permalink: .htaccess
---
Options -MultiViews

RewriteEngine On
#RewriteCond %{http_host} ^gainswaveorlando.com [NC]
#RewriteRule ^(.*)$ http://gainswaveorlando.com/$1 [R=301,NC]
#RewriteRule /(.+)(\.html)$ /$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.html$ /$1 [L,R=301] 

ErrorDocument 404 /404.html


