---
layout: null
permalink: .htaccess
---
#Options -MultiViews
<IfModule mod_rewrite.c>
    Options +FollowSymlinks
  # Options +SymLinksIfOwnerMatch
    RewriteEngine On
  # RewriteBase /
</IfModule>

RewriteEngine On
#RewriteCond %{http_host} ^gainswaveorlando.com [NC]
#RewriteRule ^(.*)$ http://gainswaveorlando.com/$1 [R=301,NC]
#RewriteRule /(.+)(\.html)$ /$1 [R=301,L]
# ----------------------------------------------------------------------
# Remove index.html
# ----------------------------------------------------------------------

# If it's a request to index(.html)
RewriteCond %{THE_REQUEST}  /(.+/)?index(.html)?(?.*)?  [NC]
# Remove it.
RewriteRule ^(.+/)?index(.html)?$ /%1 [R=301,L]

# ----------------------------------------------------------------------
# Remove .html extensions
# ----------------------------------------------------------------------

# If it's a request from a browser, not an internal request by Apache/mod_rewrite.
RewriteCond %{ENV:REDIRECT_STATUS} ^$
# And the request has a HTML extension. Redirect to remove it.
RewriteRule ^(.+).html$ /$1 [R=301,L]



ErrorDocument 404 http://gainswaveorlando.com/404


