---
layout: page-nosidebar
title: Sitemap
---
<ul>

 {% for page in site.pages %}
 
   {% if page.layout != null and page.layout != "emails-drip" %}
  <!-- <li><a href="{{ site.url }}{{ page.url | remove: 'index.html' | remove: 'sitemap.html'| remove: 'sitemap.xml' | remove: '404.html' | remove: 'drip1.html' | remove: 'drip2.html' | remove: 'drip3.html' | remove: 'drip1txt.md'| remove: 'drip2txt.md' | remove: 'drip3txt.md'}}">{% if page.title != "" %}{{ page.title }}  {% else %} {{ page.meta_title }} {% endif %} {{ page.id }} - {{ page.layout}} </a></li> -->
  {% if page.url != "/index.html" or page.url != "/404.html" or page.url != "/sitemap.html" or page.url != "/sitemap.xml" or page.url != "drip1.html" or page.url != "drip2.html" or page.url != "drip3.html"  %} 
  <li><a href="{{ site.url }}{{ page.url }}">{% if page.title != "" %}{{ page.title }}  {% else %} {{ page.meta_title }} {% endif %}</a></li>
  {% endif %}
  {% endif %}
  {% endfor %}
</ul>
<ul>
    {% for post in site.posts %}
    <li><a href="{{ site.url }}{{ post.url}}">{{ post.title }}</a></li>
    {% endfor %}
 </ul>

