<footer id="footer">
	<div class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-lg-4 logobox">
					
					<p class="slogan">{{ site.home_page_banner_tagline }}</p>
				</div>
				<div class="col-xs-12 col-sm-3 col-lg-2">
					<h3>GAINSWave</h3>
					<ul>
					<li><a href="{{site.url}}/benefits" title="Benefits of GAINSWave {{site.keyword_location}}">Benefits</a></li>
					<li><a href="{{site.url}}/the-procedure" title="About the GAINSWave Procedure in {{site.keyword_location}}">The Procedure</a></li>
					<li><a href="{{site.url}}/testimonials" title="GAINSWave {{site.keyword_location}} Testimonials">Testimonials</a></li>
					<li><a href="{{site.url}}/faqs" title="GAINSWave {{site.keyword_location}} FAQs">FAQs</a></li>
					<li><a href="{{site.url}}/clinical-research" title="GAINSWave {{site.keyword_location}} Clinical Research">Clinical Research</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-lg-3">
					<h3>Benefits</h3>
					<ul>
					<li><a href="{{site.url}}/erectile-dysfunction-treatment" title="Erectile Dysfunction Treatment in {{site.keyword_location}}">Erectile Dysfunction Treatment</a></li>
					<li><a href="{{site.url}}/peyronies-disease-treatment" title="Peyronie's Disease Treatment in {{site.keyword_location}}">Peyronie's Disease Treatment</a></li>
					<li><a href="{{site.url}}/sexual-performance-and-maintenance" title="Sexual Performance Treatment in {{site.keyword_location}}">Sexual Performance and Maintenance</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-lg-2">
					<h3>About</h3>
					<ul>
						<li><a href="{{site.url}}/about" title="About GAINSWave {{site.keyword_location}}">About Us</a></li>
						<li><a href="{{site.url}}/contact" title="Contact GAINSWave {{site.keyword_location}}">Contact</a></li>
						<li><a href="{{site.url}}/request-an-appointment" title="Request an appointment with GAINSWave {{site.keyword_location}}">Request An Appointment</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>		
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-lg-6 copyright-mobile">
					<p>{{ site.practice_name }}. All Rights Reserved</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-6  footer-socials">
					<ul>
						<li class="fb-item"><a href="{{ site.facebook_url }}" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>								
						<li class="twitter-item"><a href="{{ site.twitter_url }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="youtube-item"><a href="{{ site.youtube_url }}" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
						
						
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>



{% include /scripts-footer.html %}
	
