<footer id="footer">
	<div class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-lg-4 logobox">
					
					<p class="slogan">{{ site.home_page_banner_tagline }}</p><p>Serving patients in {{site.city}}, {{site.state}} at {{site.practice_name}}</p>
					<a href="{{site.url}}/contact/" title="GAINSWave in {{site.city}}, {{site.state}}" class="btn btn-block btn-default">Send A Message</a>
				</div>
				<div class="col-xs-12 col-sm-3 col-lg-2">
					<h3>GAINSWave</h3>
					<ul>
					<li><a href="{{site.url}}/benefits/" title="Benefits of GAINSWave, Available in {{site.city}}, {{site.state}}">Benefits</a></li>
					<li><a href="{{site.url}}/the-procedure/" title="About the GAINSWave Procedure in {{site.city}}, {{site.state}}">The Procedure</a></li>
					<li><a href="{{site.url}}/testimonials/" title="GAINSWave {{site.city}}, {{site.state}} Testimonials">Testimonials</a></li>
					<li><a href="{{site.url}}/faqs/" title="GAINSWave {{site.city}}, {{site.state}} FAQs">FAQs</a></li>
					<li><a href="{{site.url}}/clinical-research/" title="GAINSWave {{site.city}}, {{site.state}} Clinical Research">Clinical Research</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-lg-3">
					<h3>Treatments</h3>
					<ul>
					<li><a href="{{site.url}}/erectile-dysfunction-treatment/" title="Erectile Dysfunction Treatment in {{site.city}}, {{site.state}}">Erectile Dysfunction Treatment</a></li>
					<li><a href="{{site.url}}/peyronies-disease-treatment/" title="Peyronie's Disease Treatment in {{site.city}}, {{site.state}}">Peyronie's Disease Treatment</a></li>
					<li><a href="{{site.url}}/sexual-performance-and-maintenance/" title="Sexual Performance Treatment in {{site.city}}, {{site.state}}">Sexual Performance and Maintenance</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-3 col-lg-2">
					<h3>About</h3>
					<ul>
						<li><a href="{{site.url}}/about/" title="About GAINSWave {{site.city}}, {{site.state}}">About Us</a></li>
						<li><a href="{{site.url}}/contact/" title="Contact GAINSWave {{site.city}}, {{site.state}}">Contact</a></li>
						<li><a href="{{site.url}}/request-an-appointment/" title="Request an appointment with GAINSWave {{site.city}}, {{site.state}}">Request An Appointment</a></li>
						<li><a href="{{site.url}}/sitemap/" title="Sitemap GAINSWave {{site.city}}, {{site.state}}">Sitemap</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>		
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-lg-6 copyright-mobile">
					<p>{{ site.practice_name }}. All Rights Reserved</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-6  footer-socials">
					<ul>
						<li class="fb-item"><a href="{{ site.facebook_url }}" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>								
						<li class="twitter-item"><a href="{{ site.twitter_url }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="youtube-item"><a href="{{ site.youtube_url }}" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
						
						
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>



{% include /scripts-footer.html %}
	
