<!-- FORM: HEAD SECTION -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link href="https://www.tfaforms.com/form-builder/4.3.0/css/wforms-layout.css" rel="stylesheet" type="text/css" />
    <!--[if IE 8]>
    <link href="https://www.tfaforms.com/form-builder/4.3.0/css/wforms-layout-ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 7]>
    <link href="https://www.tfaforms.com/form-builder/4.3.0/css/wforms-layout-ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 6]>
    <link href="https://www.tfaforms.com/form-builder/4.3.0/css/wforms-layout-ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->

    <link href="https://www.tfaforms.com/themes/get/24359" rel="stylesheet" type="text/css" />
    <link href="https://www.tfaforms.com/form-builder/4.3.0/css/wforms-jsonly.css" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
    <script type="text/javascript" src="https://www.tfaforms.com/wForms/3.10/js/wforms.js"></script>
    <script type="text/javascript">
        wFORMS.behaviors.prefill.skip = false;
    </script>
        <script type="text/javascript" src="https://www.tfaforms.com/wForms/3.10/js/localization-en_US.js"></script>

<!-- FORM: BODY SECTION -->
<div class="wFormContainer" style="max-width: 100%; width:auto;" >

  <style type="text/css">
                #tfa_18-L,
                label[id^="tfa_18["] {
                    width: 40px !important;
                }
            </style><div class=""><div class="wForm" id="tfa_0-WRPR" dir="ltr">
<div class="codesection" id="code-tfa_0"><style type="text/css">
 .supportInfo, h3#tfa_0-T  {
    display: none;}
  .wForm .oneField input, 
  .wForm .inputWrapper 
  {width:100%;height: 25px;}
  .wForm form > div.oneField{margin-top:0;}
  .wForm .oneField
  {
    margin-bottom:10px;
  }
  #tfa_1-D{width:50%;float:left;}
  #tfa_16-D{width:50%;float:left;}
  .wForm .inputWrapper
  {
    height:initial; 
  }
  .wForm .preField
  {
    text-align:left;
    padding:0px;
    font-size:17px;
  }
   .wForm .oneField input[type="text"]
  {
    height:40px; 
  }
  .wForm .oneField input[type="text"], .wForm .oneField textarea
  {
        background: #e6e6e6;
        border: 1px solid #cdcdcd;
        box-shadow: initial;
  }
  .wForm .oneField input[type="text"]:focus
  {
    outline:none; 
  }
  .wForm input[type=submit] {
      background: #f6aa00;
    padding: 15px 25px;
    color: #6a4a01;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 700;
    border:1px solid transparent;
    width:100%;
   }
  
label#tfa_3-L {
    font-size: 13px;
    line-height: 1.2em;
    margin-top: 14px;
    width: 100%;
}
  .wFormContainer{border:0;}
  .wForm{padding:0;}
  .wForm input[type=submit]:hover {
    border:1px solid transparent;
   }
  .wForm .preField{font-weight:bold;}
  input#tfa_13 {
    width: 14px;
    height: 14px;
}
  span.oneChoice{padding-top:10px;}
  div#tfa_0-A {
    margin: 0;
}
  .wForm textarea{width:100%;height:100px;}
</style>

</div>
<h3 class="wFormTitle" id="tfa_0-T">Guide Download</h3>
<form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsBelow labelsAbove" id="tfa_0">
<div class="oneField field-container-D     " id="tfa_1-D">
<label id="tfa_1-L" for="tfa_1" class="label preField reqMark">FIRST NAME</label><br><div class="inputWrapper"><input type="text" id="tfa_1" name="tfa_1" value="" placeholder="Your First Name" title="FIRST NAME" class="required"></div>
</div>
<div class="oneField field-container-D     " id="tfa_16-D">
<label id="tfa_16-L" for="tfa_16" class="label preField reqMark">LAST NAME</label><br><div class="inputWrapper"><input type="text" id="tfa_16" name="tfa_16" value="" placeholder="Your Last Name" title="LAST NAME" class="required"></div>
</div>
<div class="oneField field-container-D     " id="tfa_2-D">
<label id="tfa_2-L" for="tfa_2" class="label preField reqMark">EMAIL</label><br><div class="inputWrapper"><input type="text" id="tfa_2" name="tfa_2" value="" placeholder="Enter your E-mail" title="EMAIL" class="validate-email required"></div>
</div>
<div class="oneField field-container-D     " id="tfa_3-D">
<label id="tfa_3-L" for="tfa_3" class="label preField reqMark">PHONE</label><br><div class="inputWrapper"><input type="text" id="tfa_3" name="tfa_3" value="" placeholder="Enter your Phone" title="PHONE" class="required"></div>
</div>
<div class="oneField field-container-D     " id="tfa_17-D">
<label id="tfa_17-L" for="tfa_17" class="label preField ">COMMENTS</label><br><div class="inputWrapper"><textarea id="tfa_17" name="tfa_17" title="COMMENTS" class=""></textarea></div>
</div>
<div class="oneField field-container-D     " id="tfa_18-D"><div class="inputWrapper"><span id="tfa_18" class="choices vertical "><span class="oneChoice"><input type="checkbox" value="tfa_19" class="" id="tfa_19" name="tfa_19"><label class="label postField" id="tfa_19-L" for="tfa_19">Subscribe</label></span></span></div></div>
<input type="hidden" id="tfa_20" name="tfa_20" value="" class=""><div class="actions" id="tfa_0-A"><input type="submit" class="primaryAction" value="SUBMIT"></div>
<div style="clear:both"></div>
<input type="hidden" value="4621227" name="tfa_dbFormId" id="tfa_dbFormId"><input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId"><input type="hidden" value="531a895d2e57b7c5d2d2e3ea63ab67da" name="tfa_dbControl" id="tfa_dbControl"><input type="hidden" value="1" name="tfa_dbVersionId" id="tfa_dbVersionId"><input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
</form>
</div></div>

  <p class="supportInfo" >
        <a href="https://www.tfaforms.com/forms/help/4621227" target="new" style="font-size: 0.7em;">
      Need assistance with this form?    </a>

      </p>

</div>
