<head>
	<meta charset="utf-8">
	<title>{% if page.meta_title %} {{page.meta_title  | replace:'#physician_name', site.physician_name}} - {{site.keyword_location}} {% else %}{{site.title}}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt and page.layout != 'post' %} {{page.excerpt | replace:'#key_location',site.keyword_location | replace: '#practice_name', site.practice_name | replace: '#phone', site.phone  }} {% else %} {{site.site_description}} {% endif %}"/>
	<link rel="canonical" href="{{ site.url }}{{ page.url}}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">  
	<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/jquery.bxslider.css">
	{% include /scripts-header.html %}
</head>
