<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.bxslider.js"></script>
		<script>
			$(document).ready(function(){
				//$('.nav-bar').addClass('active');
				$('.toggle-nav').click(function(){
					$('.nav-bar').addClass('active');
					$('.main-menu').css('display', 'none');
				});
				$('.close-bar-button').click(function(){
					$('.nav-bar').removeClass('active');
				});
				
				$(".nav-bar-list li.parent a").on("click",function(i){
					i.preventDefault();
					var e=$(this).siblings("ul");
					$(this).hasClass("active")?($(this).removeClass("active"),e.slideUp()):($(this).addClass("active"),e.slideDown());
				});
			});
			/* SLIDER QUOTE ON HOME */
			$(document).ready(function(){
			  $('.slider1').bxSlider({
				slideWidth: 1170,
				minSlides: 1,
				maxSlides: 1,
				slideMargin: 0
			  });
			});
		</script>
	
		
		<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P6SSF7W');</script>
<!-- End Google Tag Manager -->
