/*
	The default style
*/
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/Proxima-Nova-Regular.otf") format("opentype");
}
img, iframe
{
	max-width:100%;
	height:auto;
}
body
{
	font-family:'Proxima Nova', sans serif;
	font-size:17px;
	line-height:normal;
	color:#282828;
}

/*
	** HEADER
*/
header.header-wrap
{
	border-bottom: 1px solid #e4e4e4;
}
.header-top
{
	background:#f1f1f1;
	padding:20px 0px;
}
.header-top-content ul
{
	list-style:none;
	text-align:right;
	padding:0px;
	margin:0px;
}
.header-top-content ul li
{
	display:inline-block;
	padding-left:30px;
}
.header-top-content ul li a
{
	color:#282828;
}
.header-top-content ul li a:hover
{
	color:#006ca5;
}
.header-nav
{
	display:block;
	position:relative;
}
.header-nav  .header-logo
{
	padding: 0 5px;
	position:relative;
}
.logo-slogan
{
	position: absolute;
    bottom: 13px;
    font-size: 11px;
    right: 28px;
	color:#333;
	text-decoration:none;
}
.logo-slogan strong
{
	color:#fe0000;
}

.header-nav .nav
{
	padding:15px 0px;
	text-align:right;
}
.toggle-nav
{
	display:none;
}
.nav ul
{
	list-style:none;
	margin:0px;
	padding:0px;
}
.nav li
{
	display:inline-block;
	position:relative;
	padding:20px 30px;
	float:left;
}
.nav li.btn-appointment
{
	border:1px solid #006ca5;
	padding:15px 10px; 
	float:right;
}
.nav li.btn-appointment a
{
	color:#006ca5;
	text-transform:capitalize;
	font-weight:700;
	padding:20px 15px;
	font-size:17px;
}
.nav li a
{
	
	text-decoration:none;
	text-transform:uppercase;
	color:#323443;
	font-weight:700;
	font-size:14px;
}
.nav li a:hover
{
	color:#006ca5;
}
.nav li ul
{
	display:none;
	background:#000;
	max-width:300px;
	position:absolute;
	top:60px;
	left:20px;
	z-index:99;
}
.nav li:hover ul
{
	display:block;
}
.nav li ul li
{
	width:100%;
	display:block;
	padding:7px 15px;
	border-top:1px solid #ccc;
	text-align:left;
}
.nav li ul li a
{
	color:#fff;
	text-transform:capitalize;
}
/*
	NAV BAR
*/
.nav-bar
{
	position:fixed;
	top:0px;
	right:0px;
	    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
	background:#000;
	z-index:5;
	transition: all .3s linear;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
	    will-change: auto;
}
.nav-bar.active
{
	visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.nav-bar-button
{
	padding:30px 25px 0px 45px;
}
.close-bar-button
{
	position: absolute;
    left: -20px;
    background: #000;
    width: 45px;
    height: 45px;
    transform: rotate(-45deg);
	cursor:pointer;
	
}
.nav-bar-button i.fa
{
	position: absolute;
    left: 12px;
    top: 10px;
    color: #fff;
    transform: rotate(-45deg);
    font-size: 25px;
    font-weight: 300;
}
.nav-bar-button a
{
	padding: 10px 0px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
	font-size:12px;
}
.nav-bar-content
{
	padding:0px 0px 0px 25px;
	height:100%;
	overflow-y:hidden;
}
.nav-bar-content .nav-content-scroll::-webkit-scrollbar, .nav-bar-content .nav-content-scroll::-webkit-scrollbar-scrollbar-track-piece
{
	background:#000;
}
.nav-content-scroll
{
	overflow-y:scroll;
	scrollbar-track-color: #303442;
}
.nav-bar-content ul
{
	list-style:none;
	padding:0px 0px 0px 25px;
	margin:0px;
	
}
.nav-bar-content li
{
	line-height:30px;
	position:relative;
}
.nav-bar-content li i.fa
{
	position:absolute;
	left:-20px;
	top:8px;
}
.nav-bar-content li a
{
	color:#fff;
}

.nav-bar-content li.parent a:before 
{
	font-family:'FontAwesome', sans serif;
	content:"\f00d";
	display:inline-block;
	position:absolute;
	top:0px;
	left:-20px;
	transform: rotate(45deg);
}
.nav-bar-content li.parent a.active:before
{
	content:"\f068";
	display:inline-block;
	position:absolute;
	top:0px;
	left:-20px;
	transform: rotate(0deg);
}
.nav-bar-content li ul.sub-menu
{
	list-style:none;
	padding:0px 0px 0px 25px;
	margin:0px;
	display:none;
}
.nav-bar-content li.parent.active  ul.sub-menu
{
	display:block;
}
.nav-bar-content li ul.sub-menu li a:before
{
	content:initial;
}
.nav-bar-other
{

    padding: 10px 20px;
	text-align:center;
	color:#fff;
	border-top:1px solid #ccc;
}
/*
	** SLIDESHOW
*/
.slidershow
{
	background:url(../images/banner.jpg) no-repeat;
	background-size:cover;
	padding:100px 0px;
	background-position:center center;
}
.caption-info
{
	color:#fff;
}
.caption-info h1
{
	font-size:44px;
}
.caption-info p
{
	font-size:26px;
}
.btn-request-bg
{
	background:#f6aa00;
	padding:16px 36px;
	color:#6a4a01;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:700;
}
.section-brand-logo
{
	background:#f2f2f2;
	padding:20px 0px;
}
.section-brand-logo img
{
	max-width:100%;
}
/*
	** FEATURED-1
*/
.section-featured-1
{
	padding-top:70px;
}
.featured-1-quote
{
	padding: 0px 100px 50px;
}
.quote-box p
{
	font-size:27px;
	text-align:center;
	color:#282828;
}
.quote-box strong
{
	color:#d60000;
	font-weight:400;
}
.featured-1-img img
{
	max-width:115%;
}
.featured-1-content
{
	padding:100px 15px;
	text-align:right;
}
.featured-1-content h1
{
	font-size:52px;
}
.featured-1-content p
{
	font-size:25px;
}
.featured-1-content a.btn-request-bg
{
	margin-top:50px;
}
/*
	**FEATURED-2
*/
.featured-2
{
	padding:100px 0px;
	background:#006ca5;
	color:#fff;
}
.featured-2 h1
{
	text-align:center;
	margin-bottom:50px;
}
.featured-2-quote
{
	margin-top:50px;
}
.featured-2-quote blockquote
{
	border-left:0px solid;
	text-align:center;
}
.featured-2-quote blockquote p
{
	font-size:28px;
	margin:0px;
}
.featured-2-quote blockquote strong
{
	font-weight:normal;
	color:#f6aa00;
}
/*
	**FEATURED-3
*/
.featured-3
{
	padding:70px 0px;
}
.featured-3 h1
{
	font-size:50px;
	text-align:center;
	margin-bottom:50px;
}
.box-content
{
	padding-right:23px;
}
.box-content:last-child
{
	padding-right:15px;
}
.box-item
{
	border:1px solid #ccc;
	
}
.box-content-info
{
	padding:40px 20px;
	
}
.box-content-info h3
{
	margin:0px 0px 35px;
}
.box-button
{
	text-align:center;
}
/*
	**FEATURED-4
*/
.featured-4
{
	padding:100px 0px;
	background:#f8f8f8;
	border-top:2px solid #ddd;
	border-bottom:2px solid #ddd;
}
.featured-4 h1
{
	font-size:50px;
	text-align:center;
	margin-bottom:50px;
}
.as-seen-content
{
	text-align:center;
}
.as-seen-content img, .as-seen-content iframe
{
	max-width:100%;
}
/*
	**FEATURED-5
*/
.featured-5
{
	padding:100px 0px 0px;
}
.featured-5 h1
{
	font-size:50px;
	margin-bottom:50px;
}
.featured-5 p
{
	font-size:26px;
	
}
.featured-5 .featured-img  img
{
	max-width:120%;
	margin-left:-20%;
}
.featured-5 .btn-request-bg
{
	margin-top:50px;
}
/*
	**FEATURED-6
*/
.featured-6
{
	padding:60px 0px;
	border-top:2px solid #ddd;
	border-bottom:2px solid #ddd;
}
.featured-6 h1
{
	text-align:center;
	font-size:50px;
	margin-bottom:35px;
	font-weight:normal;
}
.featured-6 h1 strong
{
	font-weight:700;
}
.featured-6-location
{
	padding-right:25px;
}
.featured-6-location img
{
	max-width:100%;
}
.featured-6-location h3
{
	color:#006ca5;
	margin:25px 0px;
}
.featured-6-location ul
{
	list-style:none;
	padding:0px;
	margin:0px;
}
.featured-6-location li
{
	margin-bottom:20px;
	font-weight:700;
}
.contact-info
{
	padding:0px;
}
.contact-info li
{
	list-style:none;
}
.contact-info  .contact-phone
{
	font-size:26px;
	margin:30px 0px;
	font-weight:bold;
}
.contact-info i{
	padding: 5px 6px;
    border-radius: 100%;
    border: 1px solid #006ca4;
    margin-right: 15px;
    color: #006ca4;
	font-size:19px;
}
.location-map iframe
{
	max-width:100%;
	height:320px;
	margin:0px 0px 50px 0;
}
.location-map .btn
{
	width:100%;
}
.btn-location
{
	background: #fcfcfc;
    padding: 10px 25px;
    border: 1px solid #d7d7d7;
	text-transform:uppercase;
	color:#292929;
}
.featured-6-form
{
	padding-left:25px;
}
.featured-6-form .form
{
	padding:40px 30px;
	background:#f6f6f6;
	border:1px solid #e6e6e6;
	float:left;
}
.rows
{
	margin-bottom:10px;
}
.featured-6-form p
{
	margin-bottom:50px;
	font-size:19px;
}
.featured-6-form  label
{
	display:block;
	text-transform:uppercase;
	font-weight:700;
}
.featured-6-form input[type=text], .featured-6-form input[type=email], .featured-6-form input[type=tel], .featured-6-form textarea
{
	background:#e6e6e6;
	border:1px solid #cdcdcd;
	width:100%;
	padding:5px;
	border-radius:initial;
}
.featured-6-form input[type=text], .featured-6-form input[type=email], .featured-6-form input[type=tel]
{
	height:40px;
}
.featured-6-form input[type=text]:focus, .featured-6-form input[type=email]:focus, .featured-6-form input[type=tel]:focus, .featured-6-form textarea:focus
{
	outline:none;
}
 .featured-6-form textarea
 {
	 height:140px;
 }
  .featured-6-form  .btn-appointment
  {
	  width:100%;
	  padding:15px 20px;
  }
  .wrap-content
  {
	  padding-top:40px;
  }
/*
	**FOOTER BOX
*/
#footer a:hover
{
	color:#006ca5;
}
.footer-box
{
	padding:70px 0px;
	
}
.footer-box h3
{
	text-transform:uppercase;
	color:#000;
	margin-bottom:20px;
}
.footer-box  ul
{
	list-style:none;
	padding:0px;
	margin:0px;
}
.footer-box li
{
	line-height:28px;
}
.footer-box a
{
	color:#484848;
	text-decoration:none;
}
.footer-copyright
{
	padding:30px 0px;
	background:#f6f6f8;
}
.footer-copyright p
{
	margin:0px;
}
.footer-copyright .logo-footer
{
	height:30px;
}
.footer-socials 
{
	text-align:right;
}
.footer-socials  ul
{
	list-style:none;
	padding:0px;
	margin:0px;
}
.footer-socials  li
{
	display:inline-block;
	padding-right:20px;
}
.footer-socials i.fa
{
	font-size:20px;
	color:#656565;
}
.featured-quote
{
	background:#f1f1f1;
	padding:50px 0px;
	border-top:1px solid #ccc;
}
.slider1 
{
	text-align:center;
	font-style:italic;
	line-height:1.5em;
}
.slider1  span
{
	font-weight:bold;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active
{
	background:#006ca5 !important;
}
.widget-item
{
	margin-bottom:25px;
}
.sidebar-right h3
{
	padding-bottom:2px;
	border-bottom:1px solid #006ca5;
	margin-bottom:20px;
}
.sidebar-right ul
{
	padding:0px;
	margin:0px;
}
.sidebar-right ul, .sidebar-right li
{
	list-style:none;
}
@media (max-width:480px)
{
	.featured-6 h1
	{
	     font-size:34px;	
	}
	.logo-slogan
	{
		bottom:17px !important;
		left:80px !important;
		font-size:8px;
	}
}
@media (max-width:767px)
{
	.logo-slogan
	{
		left:90px;
		right:initial;
	}
	.header-nav .nav .main-nav
	{
		display:none;
	}
	.nav .toggle-nav
	{
		display:block;
	}
	.nav .toggle-nav
	{
		
		display:block;
		position:absolute;
		top:30px;
		right:15px;
	}
	.nav .toggle-nav .fa
	{
		font-size:30px;
	}
	.slidershow
	{
		background-position:center right;
	}
	.caption-info
	{
		background:rgba(0,0,0, 0.6);
		padding:20px;
		text-align:center;
	}
	.featured-1-quote
	{
		padding:0px 0px 50px;
	}
	.featured-1-img img
	{
		width:100%;
	}
	.featured-1-content
	{
		text-align:center;
	}
	.item-video
	{
		margin-bottom:20px;
		text-align:center;
	}
	.box-content
	{
	    text-align:center;
            margin-bottom:25px;
	}
	.featured-img
	{
		text-align:center;
	}
	.featured-5 .featured-img
	{
		padding-top:50px;
	}
	.featured-5 .featured-img  img
	{
		max-width:100%;
		margin-left:0px;
	}
	.featured-6-location
	{
		margin-bottom:50px;
		text-align:center;
		padding-right:15px;
	}
	.featured-6-form
	{
		padding-left:15px;
	}
	.copyright-mobile
	{
		margin-bottom:20px;
	}
	.footer-socials, .copyright-mobile
	{
		text-align:center;
	}
}
@media (min-width:768px) and (max-width:999px)
{
	.header-nav  .header-logo
	{
		padding: 20px 15px 17px;
	}
	.header-logo img
	{
		height:40px;
	}
	.logo-slogan
	{
		bottom: 20px;
		font-size: 7px;
		right: 25px;
	}
	.nav li
	{
		padding:11px 10px;
	}
	.nav li a
	{
		font-size:12px;
		
	}
	.nav li.btn-appointment
	{
		padding:10px;
	}
	.nav li.btn-appointment a
	{
		padding:0px;
		font-size:12px;
	}
	.slidershow
	{
		background-position:center right;
	}
	
}
@media (min-width:999px) and (max-width:1199px)
{
	.header-nav  .header-logo
	{
		padding:20px 15px;
	}
	.header-logo img
	{
		height:50px;
	}
	.logo-slogan
	{
		bottom:22px;
		font-size:8px;
		right:50px;
	}
	.nav li
	{
		padding:20px 18px;
	}
	.nav li.btn-appointment a
	{
		padding:0px;
	}
	.featured-1-img img
	{
		width:100%;
	}
	.featured-1-content
	{
		padding:0px 15px;
	}
	.featured-1-content h1
	{
		font-size:30px;
	}
}
@media (min-width:768px) and (max-width:1199px)
{
	.featured-1-content
	{
		padding:0px 15px;
	}
	.featured-1-content h1
	{
		font-size:30px;
	}
	.featured-1-content
	{
		padding:0px 15px;
	}
	.featured-5 h1
	{
		font-size:30px;
	}
	.featured-5 p
	{
		font-size:22px;
	}
	.featured-6-form form
	{
		padding:40px 30px 20px;
	}
	.featured-6-form p
	{
		font-size:15px;
	}
	.featured-6-form input[type=text], .featured-6-form input[type=email], .featured-6-form input[type=tel]
	{
		height:30px;
	}
	.featured-6-form textarea
	{
		height:80px;
	}
}
p.slogan {
    font-size: 22px;
    padding: 20px 0;
    font-style: italic;
}
.col-xs-12.col-sm-3.col-lg-4.logobox{
    background: #f6f6f8;
    padding: 39px 19px 19px 19px;
    text-align: center;
    margin-right: 21px;
}
.col-xs-12.col-sm-3.col-lg-3.sidebar-right {
    padding: 29px;
    background: #f1f1f1;
}
.entry-page blockquote
{
	    padding-left: 25px;
    margin-bottom: 20px;
    background: #ffffff;
    padding: 20px;
    border: 3px solid #d8d8d8;
    border-left: 30px solid #fcaf2c;
}
.entry-page blockquote a:hover
{
	text-decoration:none;
}

.slide p {
    font-size: 27px;
}

.item-video iframe {
    height: 200px;
}

.as-seen-content iframe {
    height: 400px;
}
img.pageimg {
	max-width:300px;
	margin: 10px;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}
img.pageimg.imgleft {
    float: left;
}
img.pageimg.imgright {
    float: right;
}

.box-content-info:hover {
    background: #ffffff;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
}

li.btn.btn-appointment:hover {
    border: 1px solid #f6aa00;
    background: #f6aa00;
}


.featured-6-form .form {
    padding: 36px 20px;
    background: #ffffff;
    border: 1px solid #f7f7f7;
    float: left;
    box-shadow: 1px 1px 20px rgb(230, 230, 230);
    border-radius: 4px;
}

.col-xs-12.col-sm-3.col-lg-3.featured-6-location {
    border: 3px solid whitesmoke;
    padding: 20px;
}

.featured-quote {
    background: #ffffff;
    padding: 39px 0px 0px 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #cccccc;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.08);
}

a:hover {
    text-decoration: none !important;
}

.wForm .oneField input[type="text"], .wForm .oneField textarea {
    background: #f7f7f7;
    border: 2px solid #cdcdcd;
    box-shadow: initial;
    padding: 14px 1px 11px 11px;
    font-size: 18px;
    height: auto !important;
}

.wForm .actions .primaryAction {
    border: 2px solid white;
    padding: 20px 0;
    color: black;
    letter-spacing: 2px;
    box-shadow: 0px 0px 0px;
    margin: 0;
}
.wForm .actions .primaryAction:hover {
    border: 2px solid #f6aa00;
    background:white;
    color: black;
	
}
