<!DOCTYPE html>
	<html>
		{% include /head.html %}
			<body>
				{% include /header.html %}
					<div class="wrap-content">
						<div class="container">
							<div class="row">
								<div class="appointment-wrap">
									<div class="col-xs-12 col-sm-9 col-lg-9 content-main">
										<article class="entry-page page-item">
											<!--<h1>GAINSWave {{site.location_keyword}} Blog - {{ site.practice_name }}</h1> -->
											<h1>Blog</h1>
												{{ content }}
											
										</article>
									</div>
									{% include /sidebar.html %}
								</div>
							</div>
						</div>
					</div>			
				{% include /footer.html %}
			</body>
	</html>
